* {
  background-color: #cdcfff;
}

.main-dashboard {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  margin-top: 300px; /* Space between Navbar and Buttons */
  margin-bottom: 300px; /* Space between Navbar and Buttons */
}

/* Optional: Add hover shadow effect */
.dashboard-button:hover {
  box-shadow: 0 0 15px rgba(74, 0, 255, 0.6);
}
