/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for the whole app */
.app-container {
  background-color: #cdcfff;
  height: 100vh; /* Full height */
}

/* Dashboard section */
.main-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Button styles */
.dashboard-button {
  width: 250px;
  height: 150px;
  text-align: center;
  background-color: #e4fdec;
  color: #535bf2;
  border-style: solid;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.dashboard-button:hover {
  background-color: #4a00ff;
  color: #aff4c6;
}
